name: Publish Module

# This workflow publishes the @newrelic/video-core package to npmjs.org via 
# "Trusted Publishing" (https://docs.npmjs.com/trusted-publishers).
#
# This workflow assumes that the `(package.json).version` field has been updated
# with the version string that should be published.
#
# This workflow will create a new git tag for the module version, along with
# a new GitHub release. It will then publish the new module version to npmjs.org.
#
# This workflow will _only_ ever be triggered manually by utilizing the GitHub Actions interface.
on:

  workflow_call:
    inputs:
      s3-path:
        description: 'Path within the S3 bucket'
        required: false
        type: string
      file-to-upload:
        description: 'Specific file to upload to S3'
        required: false
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        description: 'AWS Access Key ID'
        required: false
      AWS_SECRET_ACCESS_KEY:
        description: 'AWS Secret Access Key'
        required: false

  pull_request:
    branches:
    - stable
    types:
    - closed

permissions:
  # In order to create the git tag, we must have write permissions.
  contents: write
  # This is important. Trusted Publishing requires this for the OIDC exchange.
  id-token: write

jobs:
  publish_and_deploy:
    if: ${{ github.event.pull_request.merged == true || github.event_name == 'workflow_call' }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Setup git
      run: |
        git config user.name "${{ github.actor }}"
        git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"

    - name: Set up Node.js
      uses: actions/setup-node@v5
      with:
        # Trusted Publishing requires `npm@11.5.1` or later. Compatible
        # versions of `npm` started shipping with Node.js v24.5.0.
        # Hardcoded to ensure NPM Trusted Publishing compatibility.
        node-version: '24.x'
        cache: 'npm'
        # This is important. The OIDC exchange requires that the registry
        # URL matches on both ends.
        registry-url: 'https://registry.npmjs.org'

    - name: Install dependencies
      run: npm ci

    - name: Build project
      run: npm run build

    - name: Get Package Version
      id: package-version
      run: |
        PACKAGE_VERSION=$(jq -r '.version' package.json)
        echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> $GITHUB_ENV

    - name: Run security audit
      run: npm audit --audit-level=critical

    # - name: Create Git Tag
    #   run: |
    #     git tag v${{ env.PACKAGE_VERSION }}
    #     git push --tags

    # - name: Create GitHub Release
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #   run: |
    #     gh release create v${{ env.PACKAGE_VERSION }} --generate-notes

    - name: Publish to NPM
      run: npm publish
    - name: Configure AWS Credentials
      if: ${{ inputs.s3-path != '' }}
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Upload to S3
      if: ${{ inputs.s3-path != '' && inputs.file-to-upload != '' }}
      run: |
        FILE_NAME=$(basename "${{ inputs.file-to-upload }}")
        BASE_NAME="${FILE_NAME%.min.js}"
        VERSIONED_NAME="${BASE_NAME}.${PACKAGE_VERSION}.min.js"
        LATEST_NAME="${BASE_NAME}.latest.min.js"
        S3_BUCKET="nr-downloads-main"
        cp "${{ inputs.file-to-upload }}" "$VERSIONED_NAME"
        cp "${{ inputs.file-to-upload }}" "$LATEST_NAME"
        aws s3 cp "$VERSIONED_NAME" "s3://${S3_BUCKET}/${{ inputs.s3-path }}/$VERSIONED_NAME"
        aws s3 cp "$LATEST_NAME" "s3://${S3_BUCKET}/${{ inputs.s3-path }}/$LATEST_NAME"
